aaig/tex/aaig.tex linguist-generated
docs/idris/hello.html linguist-generated
paip/tex/paip.tex linguist-generated
src/erlang/fav1.tex linguist-generated
src/idris/hello.tex linguist-generated
src/lol/guess.tex linguist-generated
