aaig/docs/*.css linguist-vendored
aaig/docs/*.html linguist-documentation
aaig/docs/*.js linguist-vendored
aaig/tex/*.tex linguist-generated
docs/*.html linguist-generated
docs/idris/hello.html linguist-generated
lp/docs/*.html linguist-generated
paip/tex/paip.tex linguist-generated
src/erlang/fav1.tex linguist-generated
src/idris/hello.tex linguist-generated
src/lol/guess.tex linguist-generated
